@model Intranet.Models.Software_IT_Inventory.MainForm
<div id="ModalBody">
    <div class="col-md-12 form-group">
        <label for="tbl_ControlNoLookup" class="text-dark mb-0 font-weight-bold col-md-4">OPMAS</label>
        <div>
            <table class="table table-striped table-bordered " id="tbl_ControlNoLookup">
                <thead>
                    <tr>
                        <th>Control No.</th>
                        <th>Is Laptop</th>
                        <th>Description</th>
                        <th>Remarks</th>
                        <th>Location</th>
                        <th>Acquisition Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ControlNoList.Count; i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => m.ControlNoList[i].ControlNo)</td>
                            <td class="text-center">@Html.CheckBoxFor(m => m.ControlNoList[i].IsLaptop, new { @class = "check-box", disabled = "disabled", @data_is_checked = Model.ControlNoList[i].IsLaptop })</td>
                            <td>@Html.DisplayFor(m => m.ControlNoList[i].Description)</td>
                            <td>@Html.DisplayFor(m => m.ControlNoList[i].Remarks)</td>
                            <td>@Html.DisplayFor(m => m.ControlNoList[i].Location)</td>
                            <td class="text-right">@Html.DisplayFor(m => m.ControlNoList[i].AcquisitionCost)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tbl_ControlNoLookup').DataTable({
            order: [],
            paging: false,
            scrollY: "270px",
            scrollX: true,
            scrollCollapse: true,
            bInfo: false,
            select: 'single',
            dom: '<"float-left"f><"ControlNoToolbar">rt<"bottom"lp>',
            search: {
                "addClass": 'form-control input-lg col-xs-12'
            },
            language: {
                "search": "_INPUT_",
                "searchPlaceholder": "Search ControlNo"
            },
        });
    });
</script>